# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
xcuserdata/
DerivedData/
*.xcuserstate
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Environment & Secrets
*.xcconfig
!*.xcconfig.example
.env

# macOS
.DS_Store
._*

# Build
build/
